<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppUnitTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17E77EF42D45388E00BFA1A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17E77F042D45389200BFA1A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17E77F0E2D45389200BFA1A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
